@use "../src/styles/variables";


.mainPost-container {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 0.6em;
    
    .mainpost-photo {
        aspect-ratio: 1.65;
        border-radius: 11px;
        overflow: hidden;
    }

    .mainpost-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
    // position: absolute;
    // margin-top: 137px;
    letter-spacing: 1px;
    }

    a {
        align-self: end;
    }
}

.topPost-box {
    display: flex;
    gap: 10px;


    img {
        border-radius: 11px;
        max-width: 60%;
        aspect-ratio: 1.55;
    }

    a {
        position: absolute;
        max-width: 60%;
        background: transparent;
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        margin-top: 5px;
        margin-left: 5px;
    }

    p {
        align-self: center;
    }
}

.topPosts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1em;
    margin-bottom: 1em;
    
    div:first-child > img {
        transform: rotate(180deg);
    }
}

@media (min-width: 500px) {
    html {
        font-size: 18px;
      }
}

@media (min-width: 700px) {
    .mainPost-container { 
        flex-direction: row;

        .mainpost-photo {
            max-width: 53%;
        }
    }
}
