@use "../src/styles/variables";


.mainPost-container {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 0.6em;
    
    .mainpost-photo {
        height: 10.5rem;
        border-radius: 11px;
        overflow: hidden;
    }

    h2 {
    position: absolute;
    margin-top: 137px;
    background-color: transparent;
    letter-spacing: 2px;
    }

    button {
        align-self: end;
    }
}

.topPost-box {
    display: flex;
    gap: 10px;


    img {
        border-radius: 11px;
        height: 13vh;
        aspect-ratio: 1.55;
    }

    p:first-of-type {
        position: absolute;
        max-width: 18vh;
        background: transparent;
        color: white;
        font-size: 1.1rem;
        margin-top: 5px;
        margin-left: 5px;
    }

    p:last-of-type {
        align-self: center;
    }
}

.topPosts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 1em;
    margin-bottom: 1em;
    
    div:first-child > img {
        transform: rotate(180deg);
    }
}
