@use "../src/styles/variables";

.allPosts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(327px, 100%), 1fr));
    margin: variables.$main-margin;
    gap: 0.8em;
}

.post-container {
    position: relative;

    img {
        border-radius: 11px;
        aspect-ratio: 1.6;
    }

    > * {
        margin-top: 0.4em;
    }

    button {
        margin-top: 0.4em;
        float: right;
    }

    p {
        word-wrap: break-word;
    }
}

@media (min-width: 800px) {
    .allPosts-container {
        gap: 2em;
    }
}

@media (min-width: 1600px) { 
    .allPosts-container {
        margin: variables.$bigger-margin;
    }
}