$text: hsl(0, 0%, 0%);
$background: hsl(13, 53%, 97%);
$primary: hsl(209, 75%, 81%);
$secondary: hsl(60, 20%, 81%);
$accent: hsl(355, 17%, 37%);

$headers-font: 'Karla', sans-serif;
$main-font: 'Inconsolata', monospace;