@use "../src/styles/variables";

.blogpost-main {
    margin: 1em 0;

}

.blogpost-box {
    margin-bottom: 1em;

    h2 {
        font-weight: 400;
        margin-bottom: 0.45em;
    }
}

.comments-box {
    
}

.comment-box {
    margin: 1em 0;
    border-radius: 11px;
    background-color: hsl(28deg, 28%, 91%);
    min-height: 60px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;

    span, p {
        padding: 0.3em;
        padding-bottom: 0.2em;
    }

    p {
        background-color: variables.$secondary;
        flex: 2;
        border-radius: 11px;
    }
}


.comment-add {
    
    * {
        margin-bottom: 0.7em;
    }

    input, textarea {
        border: 0;
        border-radius: 11px;
        font-size: 1.2rem;
        padding: 0.3em;
        background-color: hsl(209deg 75% 81% / 60%);
        resize: none;
    }
}

.comment-form {

}