
.contact-main {
    margin: 1em 0;

    img {
        width: 20%;
        max-height: 65px;
        max-width: 65px;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 0.8em;
    }

    a, span {
        display: block;
        font-size: 1.2rem;
    }

    span:last-of-type {
        font-size: 1rem;
    }
}

.contact-links {
    div {
        margin: 1.1em 0;

        > * {
            margin: 0.1em 0;
        }
    }
}