@use "../src/styles/variables";

.contact-main {
    margin: variables.$main-margin;

    img {
        width: 20%;
        max-height: 65px;
        max-width: 65px;
    }

    p {
        margin-bottom: 0.8em;
    }

    a, span {
        display: block;
    }

    span:last-of-type {
        font-size: 1rem;
    }
}

.contact-links {
    div {
        margin: 1.1em 0;

        > * {
            margin: 0.1em 0;
        }
    }
}

#weird-waves {
    width: 100%;
    max-width: none;
    max-height: none;
    margin: 2em 0;
}

@media (min-width: 1600px) { 
    .contact-main {
        margin: variables.$bigger-margin;
    }
}
