@use "../src/styles/variables";

* {
    box-sizing: border-box;
    font-family: variables.$main-font;
    padding: 0;
    margin: 0;
    color: variables.$text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: variables.$headers-font;
}

body {
  background-color: variables.$background;
}
 
ol, ul {
    list-style: none;
  }
  
img {
  max-width: 100%;
}

#root {
  margin: 1rem 2em 1rem 2rem;
  
}

.breakline {
  border: 0;
  height: 1px;
  background: #333;
  margin-top: 5px;
  margin-bottom: 1em;
}

.image-placeholder {
  background-color: variables.$primary;
  min-height: 80px;
  max-width: 100px;
}

.def-button {
  border: none;
  background-color: variables.$secondary;
  font-size: 1.2rem;
  border-radius: 11px;
  padding: 0.2em 0.5em;
}

