@use "../src/styles/variables";

html {
  font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: variables.$main-font;
    padding: 0;
    margin: 0;
    color: variables.$text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: variables.$headers-font;
    font-weight: 500;
}

body {
  background-color: variables.$background;
}
 
ol, ul {
    list-style: none;
  }
  
img {
  max-width: 100%;
}

#root {
  margin: 1em 2em
}

.breakline {
  border: 0;
  height: 1px;
  background: #333;
  margin-top: 5px;
  margin-bottom: 1em;
}

.image-placeholder {
  background-color: variables.$primary;
  border-radius: 11px;
  height: 13vh;
  aspect-ratio: 1.55;
}

.image-placeholder2 {
  background-color: variables.$primary;
  border-radius: 11px;
  aspect-ratio: 1.6;
}

.def-button {
  border: none;
  background-color: variables.$secondary;
  font-size: 1.2rem;
  border-radius: 11px;
  padding: 0.2em 0.5em;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 500px) {
  html {
      font-size: 18px;
    }
}

@media (min-width: 750px) {
  #root {
    margin: 1.5em 3em;
  }
}

@media (min-width: 1000px) {
  #root {
    margin: 2em 5em;
  }

  html {
    font-size: 20px;
  }
}

@media (min-width: 1300px) {
  #root {
    margin: 2em 8em;
  }

  html {
    font-size: 22px;
  }
}

@media (min-width: 1600px) {
  #root {
    margin: 2em 8em;
  }

  html {
    font-size: 24px;
  }
}

@media (min-width: 1800px) {
  #root {
    margin: 2em 8.5em;
  }

  html {
    font-size: 24px;
  }
}

@media (min-width: 2000px) {
  #root {
    margin: 2em 9em;
  }

  html {
    font-size: 27px;
  }
}


