@use "../src/styles/variables";

* {
    box-sizing: border-box;
    font-family: variables.$main-font;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: variables.$headers-font;
}

ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }